body{
    background-image: url(/rv_boxart.png);
    background-repeat: no-repeat;
    background-size: cover;   
}
#box{
    background-color: rgba(0,0,0,0.7);
    color:#D5D5D5;
    min-height: calc(100vh - 56px);
}
.crew{
    width:200px;
}
.stuntimages{
    width:128px;
}
.stuntcards{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#stuntcardplacement{
    width:50px;
}
iframe{
    max-width: 800px;
    max-height: 450px;
    right:0;
}
.box{
    display: block;
}
.iframebox{
  max-height: 512px;
}